 
 /* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------about-heading---------------------------------------------------------------------------- */

 /* New Glow Effect with margin awareness */
.glow-m4 {
  display: inline-block;       /* ensures glow wraps content neatly */
  margin: 0rem;              /* same as Bootstrap m-4 */
  padding: 1rem 1rem 1rem 1rem;    /* inner spacing so background shows //top right bottom left*/
  border-radius: 10px;
  background-color: transparent;
  transition:  0.3s ease-in-out;
}

/* Dark mode glow */
html[data-bs-theme="dark"] .glow-m4:hover {
  background-color: #2977ec;
  box-shadow: 0 0 15px rgba(248, 248, 248, 0.9);
  color: #fff;
  font-weight: bolder;
}

/* Light mode glow */
html[data-bs-theme="light"] .glow-m4:hover {
  background-color: #2977ec;
  box-shadow: 0 0 25px rgba(41, 119, 236, 0.9);
  color: #fff;
  font-weight: bolder;
}



 /* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------about-page-animation---------------------------------------------------------------------------- */
/* About section animations */



/* --------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------Skills--Section--Progress--Bar---------------------------------------------------------------------------- */
/* Slow ink-like animation */
.progress-bar-animated {
  animation: progress-bar-stripes 4s linear infinite; /* slower stripes */
  transition: width 6s ease-in-out; /* slower fill */
}

/* Stripes always animate instantly */ 
.progress-bar-striped.progress-bar-animated { 
    animation: progress-bar-stripes 2s linear infinite; /* stripes moving */ 
} 
/* Optional: faster stripes on hover */
 .progress-bar-striped.progress-bar-animated:hover {
    animation: progress-bar-stripes 0.5s linear infinite; /* fast stripes */ 
    transition: width 2s ease-in-out; /* faster ink fill */ }

.progress-bar.ink-flow {
  transition: width 6s ease-in-out;
  background: linear-gradient(to right, #0d6efd 30%, #004080 100%);
  background-size: 200% 100%;
  animation: inkMove 6s forwards;
}

@keyframes inkMove {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0 0;
  }
}



 /* --------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
  

		